* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #020202;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1100px;
  margin: auto;
  width: 100%;
  margin: 0 auto 20px auto;
  padding: 20px;
  background: #d3e9ff;
}

#Logo {
  font-size: 2.4rem;
  color: #020202;
  display: flex;
  align-self: center;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}
nav ul li {
  font-size: 1.4rem;
  padding-left: 20px;
}

#Logo, ul > li > a {
  text-decoration: none;
  color: #020202;
  transition: all 0.3s ease-out;
}
#Logo:hover, ul > li > a:hover {
  color: blue;
  transition: all 0.3s ease-out;
}

.home {
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

.news-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #f3f9ff;
  border-radius: 5px;
  margin-bottom: 35px;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
}

.description {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.description img {
  width: 200px;
  object-fit: cover;
  margin-right: 25px;
}
.description p, .description a {
  font-size: 1.2rem;
}
.description p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 100px;
}
.description a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.description a:hover {
  color: blue;
  transition: all 0.3s ease-out;
}

.info {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info span {
  font-size: 1.2rem;
}
.info .category > span {
  color: blue;
  font-size: 1rem;
}
.info .pubdate {
  min-width: 180px;
  text-align: right;
}

.admin-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.admin-actions .link {
  margin-left: 10px;
  border: none;
  font-size: 1rem;
}
.admin-actions .edit {
  transition: all 0.3s ease-out;
  background: #ffed7c;
}
.admin-actions .edit:hover {
  background: #ffe53e;
  transition: all 0.3s ease-out;
}
.admin-actions .delete {
  transition: all 0.3s ease-out;
  background: #ffac9d;
}
.admin-actions .delete:hover {
  background: #ff927e;
  transition: all 0.3s ease-out;
}

.link {
  display: inline;
  align-self: end;
  text-decoration: none;
  color: #313131;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 25px;
  transition: all 0.3s ease-out;
  background: #d4dbff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.link:hover {
  background: #bec9ff;
  transition: all 0.3s ease-out;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create {
  font-size: 1rem;
  margin: 0;
  transition: all 0.3s ease-out;
  background: #7dff9e;
}
.create:hover {
  background: #58ff82;
  transition: all 0.3s ease-out;
}

.pagination {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.pagination button {
  text-decoration: none;
  color: black;
  min-width: 100px;
  font-weight: 600;
  margin-left: 10px;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-out;
  background: #d4dbff;
}
.pagination button:hover {
  background: #bec9ff;
  transition: all 0.3s ease-out;
}
.pagination button:disabled {
  color: gray;
  cursor: auto;
  background: #d4dbff !important;
}

.sort-block {
  margin-bottom: 30px;
}
.sort-block label {
  font-size: 1.2rem;
}
.sort-block .sort-item {
  font-size: 14px;
  margin-left: 7px;
  padding: 5px;
  border-radius: 5px;
}

.no-news {
  text-align: center;
}

.login-form {
  border-radius: 5px;
  background: #f3f9ff;
  padding: 30px;
  min-width: 350px;
  max-width: 450px;
  margin: 120px auto 0 auto;
}
.login-form .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.login-form .form-item label {
  font-size: 1.2rem;
  margin-bottom: 7px;
}
.login-form .form-item input {
  padding: 8px;
  font-size: 1.2rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-out;
}
.login-form .form-item input:focus {
  outline: none;
  background: #f7fffa;
  transition: all 0.3s ease-out;
  box-shadow: 0px 0px 2px black;
}
.login-form .buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login-form .buttons-container button {
  text-decoration: none;
  color: black;
  min-width: 100px;
  font-weight: 600;
  margin-left: 10px;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-out;
  background: #d4dbff;
  padding: 15px 25px;
  width: 40%;
  margin-top: 25px;
}
.login-form .buttons-container button:hover {
  background: #bec9ff;
  transition: all 0.3s ease-out;
}

@media only screen and (max-width: 1130px) {
  nav {
    margin: 0;
  }

  .home h1 {
    padding: 20px;
    margin: 0;
  }

  .sort-block {
    padding: 20px;
  }

  .admin-header {
    padding: 20px;
  }
  .admin-header h1 {
    padding: 0;
  }
}
@media only screen and (max-width: 450px) {
  nav {
    flex-wrap: wrap;
  }
  nav a {
    width: 100%;
    text-align: center;
    display: inline !important;
  }
  nav ul {
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
  }
  nav ul li {
    font-size: 1.2rem;
  }

  .admin-header {
    flex-wrap: wrap;
  }
  .admin-header h1 {
    width: 100%;
    text-align: center;
  }
  .admin-header button {
    width: 100%;
    margin-top: 20px;
  }

  .sort-block {
    margin: 0;
  }

  .description img {
    width: 100%;
    margin: 0;
    max-height: 200px;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
  .info .pubdate {
    margin-top: 20px;
    align-self: flex-end;
  }

  .admin-actions {
    flex-direction: column;
  }
  .admin-actions .link {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .login-form {
    padding: 20px;
    min-width: auto;
    max-height: none;
    width: 100%;
    margin-top: 0;
  }

  #Warning {
    padding: 20px;
  }

  .pagination {
    justify-content: center;
  }
  .pagination button {
    margin-left: 0;
  }
}

/*# sourceMappingURL=app.css.map */
